@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 20px 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box; // it will apply padding inside the box & It will not change the actual width :p
}