@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: bold;
  font-weight: bold;
  src: local('Open Sans Condensed'), url('OpenSans-CondBold.ttf') format('ttf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box; // it will apply padding inside the box & It will not change the actual width :p
}